<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1032379096422-o0ik07se1cannl8a9is9v0759vbce51i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1032379096422-o0ik07se1cannl8a9is9v0759vbce51i</string>
	<key>API_KEY</key>
	<string>AIzaSyAZeT4LsU7Zwb-DIP0l39_cqyNyr6Mxb7U</string>
	<key>GCM_SENDER_ID</key>
	<string>1032379096422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blog</string>
	<key>PROJECT_ID</key>
	<string>blog-app-flutter-7993a</string>
	<key>STORAGE_BUCKET</key>
	<string>blog-app-flutter-7993a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1032379096422:ios:7076f4b52c46a06d223ca7</string>
</dict>
</plist>